.popup {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 3000;
}
.popup_inner {
  cursor: auto;
  width: 40%;
  position: absolute;
  border-radius: 30px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  height: 70%;
  overflow: auto;
  padding: 10px 20px;
}
.popup_inner::-webkit-scrollbar {
  width: 0;
  height: 0;
}
.closeBtn {
  cursor: pointer;
  position: absolute;
  top: 19px;
  right: 23px;
  background-color: white;
  border: none;
}
textarea {
  padding: 20px;
  margin: 10px 28px;
  height: 150px;
}
input {
  padding: 20px;
  margin: 0 28px;
}
input:focus {
  outline: none;
}
textarea:focus {
  outline: none;
}
@media only screen and (max-width: 600px) {
  .popup_inner {
    width: 95%;
  }
}
